PORT=8000
TEST=this is test

JWT_SECRET=your-secret-key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=3d

CORS_ORIGIN=*

BCRYPT_SALT_ROUNDS=10

# Cookie settings
NODE_ENV=development
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_MAX_AGE=2592000000

# Prisma PostgreSQL (Aiven)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"